Repository kidager/jacem.chaieb.me: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^(public/vendor|public/packages|patches|resources/lang/vendor|packages)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-xml
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: forbid-new-submodules
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable
      - id: check-case-conflict

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.8.0
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint
        language: node
        types: [file]
        types_or: [javascript, jsx, ts, tsx, vue]
        args: [
            "--quiet",
            "--fix",
            "--cache",
            "--cache-location",
            ".eslintcache",
            "--cache-strategy",
            "content",
        ]
      - id: stylelint
        name: stylelint
        entry: npx stylelint
        language: node
        files: ^.*\.(css|scss|sass|vue)$
        args: ["--quiet", "--fix"]

chore: add new image (depth map)
  assets/img/jacem.chaieb.map.jpg
Due: none

chore: add some config files + fix others
  .docker/Dockerfile
  .vscode/extensions.json
  jacem.chaieb.me.code-workspace
  package.json
Due: none

chore: cleanup
  .editorconfig
  .pre-commit-config.yaml
  app.vue
  assets/img/jacem.chaieb.1024.webp
  assets/img/jacem.chaieb.256.webp
  assets/img/jacem.chaieb.512.webp
  assets/img/jacem.chaieb.cover.256.webp
  assets/img/jacem.chaieb.webp
  assets/style/global/_reboot.scss
  assets/style/global/colors.scss
  assets/style/global/fonts.scss
  assets/style/main.scss
  components/Footer.vue
  components/Header.vue
  components/InfoPane.vue
  components/MainContainer.vue
  components/ProfilePicture.vue
  components/SocialPane.vue
  components/Title.vue
Due: eslint, stylelint

feat: update profile image
  assets/img/jacem.chaieb.1024.webp
  assets/img/jacem.chaieb.256.webp
  assets/img/jacem.chaieb.512.webp
  assets/img/jacem.chaieb.cover.256.webp
  assets/img/jacem.chaieb.jpg
  assets/img/jacem.chaieb.map.jpg
  assets/img/jacem.chaieb.webp
Due: none

Create .github/dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Revert "chore(deps-dev): bump nuxt from 3.0.0-rc.11 to 3.2.3"
  package.json
  yarn.lock
Due: none

Update firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci: do not run deploy actions on dependabot PRs
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

ci: do not run deploy actions on dependabot PRs (#67)
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

[deploy] ci: do not run deploy actions on dependabot PRs (#68)
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

[deploy] dependabot updates (#71)
  package.json
  yarn.lock
Due: none

chore: update nuxtjs version
  package.json
  yarn.lock
Due: none

ci: add manual actions dispatch
  .github/workflows/firebase-hosting-merge-beta.yml
  .github/workflows/firebase-hosting-merge-prod.yml
Due: none

ci: update gh actions runners versions
  .github/workflows/firebase-hosting-merge-beta.yml
  .github/workflows/firebase-hosting-merge-prod.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

chore: add commit message linting to pre-commit hooks
  .pre-commit-config.yaml
Due: none

ci: small update on gh actions files
  .github/workflows/firebase-hosting-merge-beta.yml
  .github/workflows/firebase-hosting-merge-prod.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

fix: fix name not showing
  components/FullName.vue
  components/Header.vue
Due: eslint, stylelint

ci: merge master back to develop to keep consistency
  .github/workflows/merge-master-back-to-develop.yml
Due: none

ci: fix typo
  .github/workflows/merge-master-back-to-develop.yml
Due: none

fix: ci git fetch
  .github/workflows/merge-master-back-to-develop.yml
Due: none

ci: remove merge back action
  .github/workflows/merge-master-back-to-develop.yml
Due: none

ci: add concurency between similar jobs
  .github/workflows/firebase-hosting-merge-beta.yml
  .github/workflows/firebase-hosting-merge-prod.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

feat: update quote
  components/InfoPane.vue
Due: eslint, stylelint

fix: desc size
  components/InfoPane.vue
Due: eslint, stylelint

feat: add fake 3d to profile picture
  assets/img/jacem.chaieb.1024.depth.png
  assets/img/jacem.chaieb.1024.depth.webp
  assets/img/jacem.chaieb.256.depth.png
  assets/img/jacem.chaieb.256.depth.webp
  assets/img/jacem.chaieb.512.depth.png
  assets/img/jacem.chaieb.512.depth.webp
  assets/shaders/fragment.glsl
  assets/shaders/vertex.glsl
  components/DepthMapImage.vue
  components/ProfilePicture.vue
  nuxt.config.ts
  package.json
  webgl/fulltilt.js
  webgl/fulltilt.min.js
  webgl/rect.js
  webgl/sketch.js
  webgl/uniform.js
  yarn.lock
Due: eslint, stylelint

ci: tools update
  .docker/Dockerfile
  .github/dependabot.yml
  .github/workflows/firebase-hosting-merge-beta.yml
  .github/workflows/firebase-hosting-merge-prod.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

fix: wrong overflow
  app.vue
Due: eslint, stylelint

chore: update links
  components/SocialPane.vue
Due: eslint, stylelint

fix: overflow
  assets/style/main.scss
Due: stylelint

feat: add dark mode
  assets/style/global/_reboot.scss
  assets/style/global/colors.scss
  assets/style/global/themes/catppuccin/01-latte.scss
  assets/style/global/themes/catppuccin/02-frappe.scss
  assets/style/global/themes/catppuccin/03-macchiato.scss
  assets/style/global/themes/catppuccin/04-mocha.scss
  assets/style/main.scss
  components/ColorSwitcher.vue
  components/DarkModeSwitcher.vue
  components/Footer.vue
  components/FullName.vue
  components/Header.vue
  components/InfoPane.vue
  components/ProfilePicture.vue
  components/SocialPane.vue
  components/icons/IconDark.vue
  components/icons/IconLight.vue
  components/icons/IconSystem.vue
  nuxt.config.ts
  package.json
  yarn.lock
Due: eslint, stylelint

feat: smaller profile picture
  components/ProfilePicture.vue
Due: eslint, stylelint

feat: update `theme-color` to support dark mode
  nuxt.config.ts
Due: eslint

chore: update keywords
  nuxt.config.ts
Due: eslint

feat: add github actions linter
  .pre-commit-config.yaml
Due: none

ci: group dependabot PRs
  .github/dependabot.yml
Due: none

Revert "chore(deps): bump the minor-versions group across 1 directory with 9 updates"
  package.json
  yarn.lock
Due: none
